.dashboard {
    display: flex;
    top: 30;
  }
  
  .sidebar {
    width: 200px;
    background-color: #fff;
    padding: 20px;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 500;
    font-size: 16px;
    color: rgb(48, 47, 47);
  }
  
  .sidebar-item {
    margin-bottom: 30px;
    cursor: pointer;
    align-items: center;
    justify-content: center;

  }
   
  .sidebar-item:hover {
    color: #007bff;
  }
  .settings {
    bottom:13%;
    position: absolute;
  }
  .log-out {
    bottom: 5%;
    position: absolute;
  }
  